<% provide(:title, 'Home') %>


<div class="center jumbotron">
	<h1>Welcome to EarthRetaliate</h1>

	<h2> Help us increase the awareness of the importance on conserving and aiding the nature! </h2>

	<%= link_to "Join us now!", '#', class: "btn btn-lg btn-primary" %>
</div>


