<footer class="footer">
  <small>
	  The <a href="http://earthretaliate.herokuapp.com">EarthRetaliate</a>
	  by <a href="http://github.com/buoyantair">buoyantair</a> and <a href="http://github.com/faraco">faraco</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact us", '#' %></li>
      <li><a href="https://github.com/anchorboat/EarthRetaliate">Github Repository</a></li>
    </ul>
  </nav>
</footer>
