<div class="header">
  <div class="brand">
    <%= link_to "EarthRetaliate", '#', id: "logo" %>
  </div>
  <ul class="navigation">
    <li><%= link_to "Home",   'https://earthretaliate.herokuapp.com' %></li>
    <li><%= link_to "About",   '/static/about' %></li>
    <li><%= link_to "Blog", '/static/blog' %></li>
  </ul>
</div>
